body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
/*     background-color: #1f1f1f;
 */}

#wrapper {
    width: 100%;
	margin-left: 20px;
    text-align: left;
/*     color: #d9d9d9;
 */}

#content {
		  width: 100%;
		  background-color: #ccc;
		}

p {
    text-align: left;
}

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}
.button a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

#addDevice {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

#addDeviceForm {
    text-align: left;
    width: 45%;
    margin: auto;
    padding: 10px;
}

#addDeviceForm span {
    display: block;
}

#content {
    margin: auto;
    width: 100%;
}

.device {
    width: 210px;
    height: 130px;
    margin: 15px;
    padding: 16px;
    color: #fff;
    font-size: 110%;
    vertical-align: top;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}

.device.off {
    background-color: #c8cccf;
}

.device span {
    display: block;
}

.deviceEventTitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}

.removeDevice {
    margin-top: 6px;
    /* text-align: center; */
}

.device.Appliance a:hover {
    color: #a1ed82;
}

.device.Electronics a:hover {
    color: #4badd1;
}

.device.Lights a:hover {
    color: #fad232;
}

.device.Other a:hover {
    color: #ff907d;
}

.device a {
    text-decoration: none;
}

.device a:visited, a:active, a:hover {
    color: #fff;
}

.device a:hover {
    text-decoration: underline;
}

/* Background definitions*/

.device.color01 {
    background-color: #5eb85e;
}

.device.color02 {
    background-color: #0f90d1;
}

.device.color03 {
    background-color: #c2a00c;
}

.device.color04 {
    background-color: #db524d;
}

.device.color05 {
    background-color: #007aff;
}

.device.color06 {
    background-color: #ff7000;
}

.device.color07 {
    background-color: #15e25f;
}

.device.color08 {
    background-color: #cfc700;
}

.device.color09 {
    background-color: #cf00be;
}



.readValue{
	
	
}

.setValue{
	
}